* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #1c1c1c;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00bcd4;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    padding: 5rem 2rem 2rem;
}

.home-section, .about-section, .projects-section, .resume-section {
    margin-bottom: 2rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

.project-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.project-card a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
}

.download-btn {
    display: inline-block;
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.resume-image {
    text-align: center;
    margin-top: 20px;
}

.resume-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.download-btn {
    display: inline-block;
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
}
